<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klinker.android.send_message">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:requestLegacyExternalStorage="true">

        <provider
            android:name=".MmsFileProvider"
            android:authorities="${applicationId}.MmsFileProvider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true" />

    </application>
</manifest>
